
.cardItems{
   background:var(--first-color);
   padding: 20px;
   border-radius:10px;
   transition: var(-transition);
   margin: 10px;
}

.cardItems:hover{
    border:1px solid var(--first-color);
    background: transparent;
}


.card-title{
    margin: 20px 0 10px;
    font-size: 20px;
  
    font-weight: 900;
    color: var(--input-color);
    cursor: pointer;
    text-decoration: none;
    text-align: left;
}
.card-qoute{
    font-size: 14px;
    color: var(--text-color-light);
    font-weight:medium; 
    text-align: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.card-qoute:hover{
    color:teal;
}



.card-time{
  
    color:white;
    font-weight: lighter;
    font-size: 11px;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end; */

    
}
  



.link{
    outline: none;
    color: transparent;
}

    
    .right-section{
        /* flex-grow: 1; */
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 32px;
        justify-content: center;
    }
    
    button
    {
        all:unset;
    }
    
    button:hover{
    cursor: pointer;
    }
    
    button:active{
        scale:0.9;
    }
    
    .left-section.flex{
        display: flex;
        flex-direction: column;
        gap:10px;
     
    }
    
    .left-section.flex button{
        background-color:teal;
        color: aliceblue;
        width: 176px;
        padding: 12px 0;
        text-align: center;
        border-radius: 5px;
        font-size: 16px;
        text-transform: capitalize;
        opacity: 0.5;
    
    }
    .flex{
        align-items: start;
    }


    
    .card{
        border: 1px solid lightgreen;
        border-radius: 5px;
        transition: 0.3s;
        box-shadow: 5px 5px 20px black;
    }
    
    .card:hover{
     border: 1px solid teal;
     rotate: 1deg;
     scale: 1.01;
     cursor: pointer;
    }
    .card-img{
        height: 300px;
        width: 200px;
        object-fit: cover;
        background-color: purple;
        border-radius:5px ;
    }

    
    .card .box {
    padding: 16px 8px;
    width: 300px;
    }
    
    .card .box .title{
        color: teal;
    }
    
 
    .card .box .subtitle{
       font-size: 12px;
       margin-top:10px ;
       margin-bottom: 10px;
       
    }
    
    .icons{
        display: flex;
        justify-content: space-between;
    }
    
    /* .more{
        align-self: self-end;
        left:10px;
    } */
    
    .card a.link{
        color: royalblue;
        font-size: 0.9rem;
        margin-right: 12px;
    
    }
 

  