#about{
    margin: 100px 0 50px 0;
  }
  .about-title{
      font-size: 32px;
      color:var(--title-color);
  }
  
  .about-subtitle{
      font-size: var(--h3);
      color:var(--title-color-light);
      font-weight: var(--font-medium);
      
  }
  
    .about-img{
      
      margin:auto;
    
      border-radius: 8px;
      justify-content: center;
      align-self: center;
      width:280px;
      height:300px;
      
    }
    #rimty{
      border-radius:10px;
      border: 15px solid rgb(160, 208, 208);
    }
  
    #about-desc{
      font-size: 20px;
      justify-content:center;
      color:var(--text-color);
    }
  
    .about-button
    {
      display: flex;
      justify-content: center;
  }
  
  