
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;

} 
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root{


 --first-color:rgb(233, 205, 252);
 --first-color-2nd:indigo;
 --first-color-alt: thistle;
 --first-color-lighter:#CEDEBD;
 --title-color:  indigo;
 --text-color: rgb(44, 8, 70);
  --text-color-light:plum;
 --input-color:teal;
 --body-color: thistle;
 --container-color: #FAF1E4;
 --scroll-bar-color:#CEDEBD;
 --scroll-thumb-color:#9EB384;

  
  --body-font:font-family: 'Lora', serif;
  --big-font: 32px;
  --h1:32px;
  --h2:24px;
  --h3:20px;
  --normal-font: 16px;
  --small-font:14px;
  --smaller-font:12px;
  --font-medium:500;
  --font-semi-bold:600;

  --mb-0-25:4px;
  --mb-0-5:8px;
  --mb-0-75:12px;
  --mb-1:16px;
  --mb-1-5:24px;
  --mb-2:32px;
  --mb-2-5:40px;
  --mb-3:48px;

  --z-tooltip:10;
  --z-fixed:100;
  --z-model:1000;
}

body {
  min-height: 100vh;
  overflow-x:hidden ;
  height: 100%;
  background-color:rgb(255, 248, 255);
  
background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
  font-family:'Lora', serif;;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
}





h1,h2,h4{

font-weight: 600;
}

ul{
list-style: none;
}

a{
text-decoration: none;
}



section{

padding: 0px 20px 30px;
}

.section-title{
color:var(--text-color);
font-size: 32px;

}

.section-subtitle{

display: block;
font-size: 16px;
margin-bottom: 48px;
color: var(--text-color);


}

h3 ,p,.section-subtitle{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 300;
}

.section-title,.section-subtitle{
text-align: center;
}

.button{
  background:indigo;
  background-image: -webkit-linear-gradient(top,indigo,#f08080 );
  background-image: -moz-linear-gradient(top,indigo,#f08080 );
  background-image: -ms-linear-gradient(top,indigo ,#f08080 );
  background-image: -o-linear-gradient(top,indigo,#f08080);
  background-image: linear-gradient(to bottom,indigo, #f08080);
  
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 500;
  color: #ffff;
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  border: none;
  cursor: pointer;
  
  
  }
  
  .button:hover {
  background:plum;
  transform: translateY(-0.5rem);
  background-image: -webkit-linear-gradient(top,plum,#FAF1E4);
  background-image: -moz-linear-gradient(top, plum,#FAF1E4);
  background-image: -ms-linear-gradient(top, plum, #FAF1E4);
  background-image: -o-linear-gradient(top,plum, #FAF1E4);
  background-image: linear-gradient(to bottom,plum, #FAF1E4);
  text-decoration: none;
  color: indigo;
  }

.button-icon{
font-size: 20px;
margin-left: 5px;
transition:.3s;
}
.button-flex{
display: inline-flex;
align-items: center;
}

