

.delete-btn{
    background-color:orangered;
    /* background-image: -webkit-linear-gradient(top,indigo,#f08080 );
    background-image: -moz-linear-gradient(top,indigo,#f08080 );
    background-image: -ms-linear-gradient(top,indigo ,#f08080 );
    background-image: -o-linear-gradient(top,indigo,#f08080);
    background-image: linear-gradient(to bottom,indigo, #f08080); */
    /* -webkit-border-radius: 28;
    -moz-border-radius: 28; */
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 500;
    color: #ffff;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    border: none;
    cursor: pointer;
    
    
    }


    .update-btn{
        background-color:plum;
        /* background-image: -webkit-linear-gradient(top,indigo,#f08080 );
        background-image: -moz-linear-gradient(top,indigo,#f08080 );
        background-image: -ms-linear-gradient(top,indigo ,#f08080 );
        background-image: -o-linear-gradient(top,indigo,#f08080);
        background-image: linear-gradient(to bottom,indigo, #f08080); */
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-weight: 500;
        color:white;
        font-size: 12px;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
        width: fit-content;
        border: none;
        cursor: pointer;
        
        
        }
    
    .btn:hover {
    background:plum;
    transform: translateY(-0.1rem);
    background-image: -webkit-linear-gradient(top,plum,#FAF1E4);
    background-image: -moz-linear-gradient(top, plum,#FAF1E4);
    background-image: -ms-linear-gradient(top, plum, #FAF1E4);
    background-image: -o-linear-gradient(top,plum, #FAF1E4);
    background-image: linear-gradient(to bottom,plum, #FAF1E4);
    text-decoration: none;
    color: indigo;
    border: none;
    }