.navbar-brand{
    right: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    color: indigo;
    cursor: pointer;
    display: flex;
    flex: 0.5;
    gap:5px;
   
  }

#header-img{

    border-radius: 50%;
    height: 80px;
    width: 80px;
    /* margin-left:15px ; */
}

.nav-link{
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--first-color);
    font-size: 16px;
    font-weight: 300;
}

.nav-link:hover{
    color: #C21292;
}

#active-nav{
    font-weight:500 ;
    color: var(--text-color)
}


.header-icon{
    color: var(--text-color);
}

.nav-item{
    
    padding: 0px 10px;
}

.header-icon:hover{
    color: var(--text-color-light);
   
}

.header-button{
    font-size: 1.2rem;
  margin-left: 20px;

}